
<div>
    <div class="modal__body"> 
    <!-- Authentication form -->
            <!-- login  -->
        <div class="auth-form">
            <form action="/auth/login" method="POST" id="form-login">
                <div class="auth-form__container">
                    <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng Nhập</h3>
                    <span class="auth-form__switch-btn" name="register">Đăng Ký</span>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input class="auth-form__input" type="text" value="{{username}}" placeholder="Enter Email" name="username" id="username">
                        <span class="message-error"></span>	
                    </div>	
                    <div class="auth-form__group">
                        <input class="auth-form__input" type="password" value="{{password}}" placeholder="Enter password" name="password" id="password">
                        <span class="message-error"></span>	
                    </div>
                    <span class="message-error-auth">{{messageError}}</span>	
                </div>

                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a class="auth-form__help-link auth-help-forgot" href="#">Fogot password</a>
                        <span class="auth-form__help-link-separate"></span>
                        <a class="auth-form__help-link" href="#">Need help?</a>
                    </div>
                </div>
                <div class="auth-form__controls">
                    <a href="/" class="">
                        <button class="btn auth-form__control-back btn-normal" >TRỞ LẠI</button>
                    </a>
                    <button type="submit" class="btn btn--primary" id="submit-login">ĐĂNG NHẬP</button>
                    {{!-- <button type="submit" class="btn btn--primary" >ĐĂNG NHẬP</button> --}}

                </div>
                </div>
                <div class="auth-form__socials">
                    <a class="auth-form__socials--facebook btn btn--size-s btn--with-icon" href="#">
                        <i class="auth-form__social-icon fa fa-facebook-square"></i>
                        <span class="auth-form__socails-text-facebook">login with facebook</span>
                    </a>
                    <a class="auth-form__socials--google btn btn--size-s btn--with-icon" href="#">
                    <i class="auth-form__social-icon fa fa-google"></i>
                        <span class="auth-form__socails-text-google">login with google</span>
                    </a>
                </div>
            </form>
        </div> 
    </div>
</div>
