
<div class="modal__body"> 
    <!-- register -->
    <form action="/auth/register" method="POST" id="form-register">
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng Ký</h3>
                    <span class="auth-form__switch-btn" name="login">
                        <a href="/auth/login" class="auth-form__switch-btn-link">Đăng nhập</a>
                    </span>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input class="auth-form__input" type="text" placeholder="Enter Email" id="username" name="name">
                        <span class="message-error"></span>	
                    </div>	
                    <div class="auth-form__group">
                        <input class="auth-form__input" type="password" placeholder="Enter password" id="password"  name="password">
                        <span class="message-error"></span>	
                    </div>
                    <div class="auth-form__group">
                        <input class="auth-form__input" type="password" placeholder="Enter again password" id="passwordConfig" name="passwordConfig">
                        <span class="message-error"></span>	
                    </div>
                   <span class="message-error-auth">{{messageError}}</span>	
                </div>
                <div class="auth-form__aside">
                    <p class="ath-form__policy-text">
                        Ở đây là câu nói về 
                        <a class="auth-form__text-link" href="#">điều khoản</a> & 
                        <a class="auth-form__text-link" href="#">chính sách</a> nhưng
                        hiện tại vấn chưa biết viết gì
                    </p>
                </div>
                <div class="auth-form__controls">
                    <button class="btn auth-form__control-back btn-normal">TRỞ LẠI</button>
                    <button class="btn btn--primary">ĐĂNG KÝ</button>
                </div> 
            </div>
            <div class="auth-form__socials">
                <a class="auth-form__socials--facebook btn btn--size-s btn--with-icon" href="#">
                    <i class="auth-form__social-icon fa fa-facebook-square"></i>
                    <span class="auth-form__socails-text-facebook">connect with facebook</span>
                </a>
                <a class="auth-form__socials--google btn btn--size-s btn--with-icon" href="#">
                <i class="auth-form__social-icon fa fa-google"></i>
                    <span class="auth-form__socails-text-google">connect with google</span>
                </a>
            </div>
        </div>
    </form>
</div>