<footer class="footer">
    <div class="grid wide footer">
        <div class="row footer">
                
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">Về F8 OFFICIAL</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Giới thiệu về F8 Official</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Tuyển dụng</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Điều khoảng</a>
                    </li>
                </ul>
            </div>	
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">MÔN HỌC</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">HTML</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">CSS</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Javascript</a>
                    </li>
                </ul>
            </div>
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Trung tâm trợ giúp</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">F8 Mail</a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">Hướng dẫn học</a>
                    </li>
                </ul>
            </div>	
            <div class="col l-2-4 m-4 c-6">
                <h3 class="footer__heading">THEO DỔI CHÚNG TÔI TRÊN</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer-icon fa fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer-icon fa fa-instagram"></i>
                            Instagram
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="footer-icon fa fa-youtube-play"></i>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>	
            <div class="col l-2-4 m-8 c-12">
                <h3 class="footer__heading">VÀO CỦA HÀNG TRÊN ỨNG DỤNG F8</h3>
                <div class="footer__download">
                    <img src="/img/QRcode.png" class="footer__download-qr">
                    <div class="footer__download-apps">
                        <img src="/img/AppStore.png" class="footer__download-app-img">
                        <img src="/img/Google_play.png" class="footer__download-app-img">
                    </div>
                </div>
            </div>		
        </div>
    </div>

    <div class="footer__bottom hide-on-mobile">
        <div class="grid wide">
            <div class="row">
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link">CHÍNH SÁCH BẢO MẬT</a>
                    </li>
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀNG TIỀN</a>
                    </li>
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link">QUY CHẾ HOẠT ĐỘNG</a>
                    </li>
                </ul>
            
                <div class="footer__bottom--body">
                    <p class="footer__bottom-company">Công ty mỹ phẩm Ohui- LGvina</p>
                    <p class="footer__bottom-address">63 Lê Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội</p>
                    <p class="footer__bottom-info">
                        <i class="footer__bottom-info-icon fa fa-heart"></i>
                        Powered by <a href="#" class="footer__bottom-info-link">ABAHA.vn</a> - Nền tảng thiết kế Web bán hàng online nhanh và chuyên nghiệp nhất
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>